<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="row pt-5">
    <div class="col-lg-12 pt-2 border border-primary">
      <h2 class="text-center" *ngIf="isProductDetailObj">Add Product Detail</h2>
      <h2 class="text-center" *ngIf="!isProductDetailObj">Update Product Detail</h2>
      <form #addUpdateProductForm = "ngForm">
        <div class="form-group">
          <label for="">Product Name</label>
          <input type="text" name="_productName" id="pName" class="form-control" [(ngModel)]="productDetailObj.productName" #pName= "ngModel" required>
          <small class="text-danger" *ngIf="pName.invalid && (pName.dirty || pName.touched)">Invalid Product Name*</small>
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select name="_category" id="cat" [(ngModel)]="productDetailObj.category" #category="ngModel" class="form-control" required>
            <option *ngFor="let pCat of productCategory"> {{ pCat }} </option>
          </select>
          <small class="text-danger" *ngIf="category.invalid && (category.dirty || category.touched)">Invalid Product Quantity*</small>
        </div>
        <div class="form-group">
          <label for="">Product Qty</label>
          <input type="number" min="1" max="100000" name="_productQty" id="pqty" class="form-control" [(ngModel)]="productDetailObj.productQty" #pQty="ngModel" required>
          <small class="text-danger" *ngIf="pQty.invalid && (pQty.dirty || pQty.touched)">Invalid Product Quantity*</small>
        </div>
        <div class="form-group">
          <label for="">Price</label>
          <input type="number" name="_price" id="price" class="form-control" min="1" max="10000" [(ngModel)]="productDetailObj.price" #price="ngModel" required>
          <small class="text-danger" *ngIf="price.invalid && (price.dirty || price.touched)">Invalid Product Price*</small>
        </div>
        <div class="form-group">
          <label for="">Product Description</label>
          <textarea name="desc" id="pdesc" [(ngModel)]="productDetailObj.productDescription" class="form-control" style="resize: none;" cols="30" rows="3" #description="ngModel" required></textarea>
          <small class="text-danger" *ngIf="description.invalid && (description.dirty || description.touched)">Product Description is required</small>
        </div>
        <div class="form-group">
          <label for="">Product Image</label>
          <input type="file" name="productImage" id="pimg" (change)="uploadImg($event)" class="form-control" required>
        </div>
        <div class="form-group d-flex justify-content-end">
          <input type="button" value="Add Product" *ngIf="isProductDetailObj" [disabled]="addUpdateProductForm.invalid" (click)="addProduct()" class="btn btn-success mr-2">
          <input type="button" value="Update Product" *ngIf="!isProductDetailObj" [disabled]="addUpdateProductForm.invalid" (click)="updateProduct()" class="btn btn-primary mr-2">
          <input type="button" value="Cancel" (click)="reset()" class="btn btn-danger">
        </div>
      </form>
    </div>
  </div>
</div>