<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-2">
            Total Products : {{totalProducts}}
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" (input)="searchProduct($event)" placeholder="Search Product">
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-lg-3 border border-success rounded p-3" *ngFor="let item of productArr">
            <img [src]="convertedImg" alt="" class="img-fluid" style="height: 100px; width: 100px;">
            <h3>Product Name: {{item.productName}}</h3>
            <h4>Category: {{ item.category }} </h4>
            <h4>Price : {{item.price}}</h4>
            <h4>Quantity: {{item.productQty}}</h4>
            <input type="button" value="Update" [routerLink]="['/addProduct']" [queryParams]="{ id: item._id}" class="btn btn-sm btn-primary mr-2">
            <input type="button" value="Delete" (click)="deleteProduct(item)" class="btn btn-sm btn-danger">
            <input type="button" value="Add to cart" class="btn btn-sm btn-secondary">
        </div>
    </div>
</div>
