<div class="container">
    <div class="row mt-5">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 mt-5 border border-primary rounded">
          <h3 class="text-center">Register</h3>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="" id="" class="form-control">
          </div>
        <div class="form-group">
          <label for="">Email ID</label>
          <input type="email" name="" id="" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="" id="" class="form-control">
        </div>
        <div class="form-group">
          <input type="button" value="Register" class="btn btn-primary">
          <a [routerLink]="[ '/login']" class="text-primary d-flex justify-content-end">Login Now</a>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>